#LeBody
{
    margin: 0;
    padding:0;
    background:linear-gradient(rgba(237,237,237,0.99),rgba(237,237,237,0.3)),url("");
    background-color: #ededed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    overflow: hidden;
    opacity: 0.99;
    overflow-y: scroll;
}


#SideBarControl
{
    display: none;
}


#SideBar
{
    position: relative;
    float: left;
    margin-top: 33.5vh;
    margin-left: -150px;


}


#SideBarControl:checked ~ #SideBar
{
    margin-left: 150px;
    transition: 1s;
}



.Bouton1
{


}

.Bouton2
{

    margin-top: 40px;
}

.Bouton3
{

    margin-top: 40px;
}

.Bouton4
{

    margin-top: 40px;
}

.Bouton5
{

    margin-top: 40px;
}

.BoutonConnexion
{
  margin-top: 30px;
  margin-left: 110px;
  position: absolute;
  float: left;
}

.BoutonInscription
{
  margin-top: 100px;
  margin-left: 110px;
  position: absolute;
  float: left;
}

.BoutonConnexionResponsivee
{
  text-align: center;
  float: right;
  color: white;
}




.SideBarBouton {

    z-index: 999;
    height: 50px;
    width: 50px;
    background-color: #ededed;
    display: inline-block;
    border-radius: 150px;
    cursor: pointer;
}

.connectezVous
{
  color: #e67300;
}


/* BANDEAU NOIR GAUCHE */

.BandeauGauche
{
    position: fixed;
    z-index: 998;
    float: left;
    height: 200%;
    width: 90px;
    background-color: #1e1e1e;

}

.CarreGauche
{
    margin-top: 40vh;
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    background-color: #1e1e1e; /*#1e1e1e*/
}


/* BANDEAU NOIR DROIT */

.BandeauDroit
{
    z-index: 999;
    float:right;
    height: 100vh;
    width: 90px;
    background-color: #1e1e1e;
    transform: rotate(180deg);
}

.CarreDroit
{

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
    margin-top: 46.2vh;
    height: 130px;
    width: 130px;
    transform: rotate(45deg);
    background-color: #1e1e1e;

}


/* Partie bouton formulaire de contact */

#Contact
{
    position: fixed;
    margin-left: 42%;
    margin-top: 150vh;
    visibility: hidden;
}


#FormOuvre
{
    visibility: hidden;
}

#FormOuvre:checked ~ #Contact
{
    margin-top: 20vh;
    visibility: visible;
    transition: 1s;
}

.contactt
{
    margin: 18%;
    transform: rotate(180deg);
}


/*Nom et prénom en haut a droite */
.nomprenom
{
    font-family: verdana;
    text-align: right;
    letter-spacing: 0.3em;
    color: #4c4c4c;
}






/* Petit écran */

@media screen and (max-width: 980px)
{
        /* barre gauche */
    #LeBody
    {
      background-image: url("");
    }
    .BandeauGauche
    {
        display: none;
    }

    .connect
    {
      display: none;
    }

    #SideBar
    {
        display: none;
    }

        /* Social icons */
    #SocialIcons
    {
        display: none;
    }

    .BandeauDroit
    {
        display: none;
    }
    .nomprenom
    {
        display: none;
    }

    #FormOuvre
    {
        display: none;
    }

    .BoutonFormDiv
    {
        display: none;
    }

    #Contact
    {
        margin-top: 2vh;
        visibility: visible;
        margin-left: 28%;
    }
}






/* Grand écran */

@media screen and (min-width: 979px)
{
.BarreResponsive
    {
        visibility: hidden;
    }
.Iconesmenu
    {
        display: none;
    }

.dropdown
    {
        display: none;
    }

.Titreacceuil
    {
        display: none;
    }
.Inputresponsive
    {
        visibility: hidden;
    }
.Messageresponsive
    {
        display: none;
    }
}




.Messageresponsive
    {

        text-align: center;
        margin-top: 5vh;
        color: #1e1e1e;
        font-family: verdana;
        font-size: 1.3em;

    }



/* Barre menu petit ecran */

.BarreResponsive
{
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Iconesmenu
{
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.dropdown
{
    z-index: 999;
}

.Titreacceuil
{
    color: #ededed;
    font-family: verdana;
    font-size: 1.6em;


}





.dropdown {
  position: relative;
  display: inline-block;
  font-family:sans-serif;
  font-size: 14px;
}

.dropdown > a, .dropdown > button {
  font-family:sans-serif;
  font-size: 14px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 6px 20px 6px 10px;
  border-radius: 4px;
  display: inline-block;
  color: black;
  text-decoration: none;
}

.dropdown > a:before, .dropdown > button:before {
  position: absolute;
  right: 7px;
  top: 12px;
  content: ' ';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dropdown input[type=checkbox] {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  opacity: 0;
}

.dropdown input[type=checkbox]:checked {
  position: fixed;
  z-index:+0;
  top: 0px; left: 0px;
  right: 0px; bottom: 0px;
}

.dropdown ul {
  position: absolute;
  top: 18px;
  border: 1px solid #ccc;
  border-radius: 3px;
  left: 0px;
  list-style: none;
  padding: 4px 0px;
  display: none;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,.175);
}

.dropdown input[type=checkbox]:checked + ul {
  display: block;
}

.dropdown ul li {
  display: block;
  padding: 6px 20px;
  white-space: nowrap;
  min-width: 100px;
}

.dropdown ul li:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}

.dropdown ul li a {
  text-decoration: none;
  display: block;
  color: black
}

.dropdown .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  font-size: 1px;
  padding: 0;
}

